$serif-font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
$sans-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$root-line-height: 1.5;

// Some colors
$tango-red:        hsl(  0, 100%, 40%);
$tango-dark-red:   hsl(  0, 100%, 32%);
$tango-blue:       hsl(214,  52%, 42%);
$tango-dark-blue:  hsl(216,  62%, 33%);
$tango-purple:     hsl(292,  21%, 40%);
$tango-light-grey: hsl( 60,   6%, 97%);
$tango-dark-grey:  hsl( 90,   2%, 33%);

// Positive or negative power function
// Via: https://css-tricks.com/snippets/sass/power-function/
@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  } @else if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $value: $value / $number;
    }
  }

  @return $value;
}

// Body font size
$text-base-size: 1rem;

// Type Scale
// Note: pow(..., 0) is just $text-base-size, which is already defined
$text-scale-ratio: 1.25;
$text-xs:   $text-base-size * pow($text-scale-ratio, -2);
$text-sm:   $text-base-size * pow($text-scale-ratio, -1);
$text-md:   $text-base-size * pow($text-scale-ratio, 1);
$text-lg:   $text-base-size * pow($text-scale-ratio, 2);
$text-xl:   $text-base-size * pow($text-scale-ratio, 3);
$text-xxl:  $text-base-size * pow($text-scale-ratio, 4);
$text-xxxl: $text-base-size * pow($text-scale-ratio, 5);

html {
    font-family: $serif-font-family;
    line-height: $root-line-height;
    font-size: $text-base-size;
}

main {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-font-family;
  margin-top: 1.5em;
  margin-bottom: 0;
}

h1 {
  margin-top: 0;
  font-size: $text-xxxl;
}

h2 {font-size: $text-xxl;}

h3 {font-size: $text-xl;}

h4 {font-size: $text-lg;}

h5 {font-size: $text-md;}

small, .text_small {font-size: $text-sm;}

a {
  text-decoration: none;
  color: $tango-blue;
  text-decoration: none;

  &:hover {
    color: $tango-red;
    border-bottom-color: $tango-red;
    text-decoration: underline;
  }

  &:visited {
    color: $tango-purple;
    border-bottom-color: $tango-purple;
  }
}

span.aspect {
    color: $tango-dark-red;
    font-variant: small-caps;
    text-transform: lowercase;
}

span.skill {
    color: $tango-dark-blue;
    text-transform: capitalize;
    font-family: monospace;
}

// Special alignment for skill and aspect tables
table.key-def {
  border-width: 0;
  td {
    text-align: left;
  }

  td:first-child {
    text-align: right;
  }
}

// Other tables
table {
  font-size: 1em;
  font-variant-numeric: lining-nums tabular-nums;
  border-collapse: collapse;
  border-width: 0.12em 0;
  border-color: $tango-dark-grey;
  border-style: solid;
}

thead {
  border-bottom: 0.06em;
  border-bottom-style: solid;
  border-bottom-color: $tango-dark-grey;
}

td,
th {
  padding: .25em .5em;
}

th {
  text-align: left;
}

// Inline dice images
$dice-size: 1em;

img.die {
  height: $dice-size;
  width: $dice-size;
  vertical-align: middle;
}

span.dice-roll {
  img.die {
    padding: 0.05em;
  }
}

span.nowrap {
  white-space: nowrap;
}

// Example gameplay uses blockquotes
blockquote {
  border: 0.15em solid $tango-dark-grey;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  //background-color: $tango-light-grey;

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

// Anchor links
h1 .anchor-link-img, h2 .anchor-link-img, h3 .anchor-link-img, h4 .anchor-link-img, h5 .anchor-link-img, h6 .anchor-link-img  {
  visibility: hidden;
}

h1:hover .anchor-link-img, h2:hover .anchor-link-img, h3:hover .anchor-link-img, h4:hover .anchor-link-img, h5:hover .anchor-link-img, h6:hover .anchor-link-img {
  visibility: visible;
}

.anchor-link-img {
  fill: $tango-blue;
  padding: 0;
  vertical-align: middle;

  &:hover {
    fill: $tango-red;
    text-decoration: underline;
  }
}

// Use dash for bullets
ul {
  list-style-type: none;
  padding-left: 3em;  
}

ul > li:before { 
  content: "—"; /* em dash */ 
  position: absolute; 
  margin-left: -1.5em; 
} 
