$serif-font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
$sans-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$root-line-height: 1.5;

// Some colors
$tango-red:       hsl(  0, 100%, 40%); 
$tango-dark-red:  hsl(  0, 100%, 32%);
$tango-blue:      hsl(214,  52%, 42%);
$tango-dark-blue: hsl(216,  62%, 33%);

html {
    font-family: $serif-font-family;
    line-height: $root-line-height;
}

main {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-font-family;
}

a {
  text-decoration: none;
}

span.aspect {
    color: $tango-dark-red;
    font-variant: small-caps;
    text-transform: lowercase;
}

// ::before/after apparently help with accessibility:
// https://adrianroselli.com/2017/12/tweaking-text-level-styles.html
span.aspect::before {
    content: " [aspect start] ";
    display: none;
}

span.aspect::after {
    content: " [aspect end] ";
    display: none;
}

span.skill {
    color: $tango-dark-blue;
    text-transform: capitalize;
    font-family: monospace;
}

// Special alignment for skill and aspect tables
table.key-def td {
  text-align: left;
}

table.key-def td:first-child {
  text-align: right;
}

// Inline dice images
$dice-size: 1em;

img.die {
  height: $dice-size;
  width: $dice-size;
  vertical-align: middle;
}

span.nowrap {
  white-space: nowrap;
}

// Example gameplay uses blockquotes
blockquote {
  border-left: 0.4em solid grey;
  margin: 0.5em 0 0.5em 2em;
  padding: 0 0.5em;
}
