# This fixes an error when serving from inside Docker
host: 0.0.0.0

title: MiniFate
description: >- # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com

collections:
  - chapters

# Disable jekyll-optional-front-matter plugin
require_front_matter: true

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed

# Hack to prevent external styles from leaking in. For details, see
# https://github.com/jekyll/jekyll/issues/7478#issuecomment-454346783.
#theme: null

# SASS
sass:
    sass_dir: _sass
    style: compressed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
    - CNAME
    - Gemfile
    - Gemfile.lock
    - LICENSE.md
    - README.md
    - redirects.json
