<table class="skill-table">
  <tr>
    <td style="text-align: right">+2</td>
    <td style="text-align: left">
      {% assign one_skills_split = include.two_skills | split: ", " %}
      {% for skill in one_skills_split %}
        {% comment %} Wrap the skills in <code> and separate with , if they
          are not the last item in the array.{% endcomment %}
        <code class="skill">{{skill}}</code>{% if forloop.last == false %},{% endif %}
      {% endfor %}
    </td>
  </tr>
  <tr>
    <td style="text-align: right">+1</td>
    <td style="text-align: left">
      {% assign one_skills_split = include.one_skills | split: ", " %}
      {% for skill in one_skills_split %}
        {% comment %} Wrap the skills in <code> and separate with , if they
          are not the last item in the array.{% endcomment %}
        <code class="skill">{{skill}}</code>{% if forloop.last == false %},{% endif %}
      {% endfor %}
    </td>
  </tr>
</table> 
