---
layout: compress
---

{% comment %}
To make writing in Markdown easy, we use `Aspect`, but this produces
<code>Aspect</code> tags, which doesn't follow the HTML semantic elements.

So after the page is rendered, this layout replaces <del> with <span
    class="aspect">.
{% endcomment %}

{% capture game_name_span %}<span class="game-title">{{ site.title }}</span>{% endcapture %}

{% assign output = content
    | replace: '<code class="language-plaintext highlighter-rouge">', '<span class="aspect">'
    | replace: '</code>', '</span>'
    | replace: '{GameName}', game_name_span
    | replace: '{GM}', 'Gabby'
    | replace: '{RobinPC}', 'Robin Hood'
    | replace: '{RobinPlayer}', 'Rowan'
    | replace: '{MarianPC}', 'Maid Marian'
    | replace: '{MarianPlayer}', 'Morgan'
    | replace: '{TuckPC}', 'Friar Tuck'
    | replace: '{TuckPlayer}', 'Taylor'
    | replace: '{JohnPC}', 'Little John'
    | replace: '{JohnPlayer}', 'Jordan'
%}

{{output}}
