---
layout: compress
---

{% comment %}
To make writing in Markdown easy, we use `Aspect`, but this produces
<code>Aspect</code> tags, which doesn't follow the HTML semantic elements.

So after the page is rendered, this layout replaces <del> with <span
    class="aspect">.
{% endcomment %}

{% capture game_name_span %}<span class="game-title">{{ site.title }}</span>{% endcapture %}

{% assign output = content
    | replace: '<pre class="highlight"><code>', '<div class="todo">'
    | replace: '</code></pre>', '</div>'
    | replace: '<code class="language-plaintext highlighter-rouge">', '<span class="aspect">'
    | replace: '</code>', '</span>'
    | replace: '{GameName}', game_name_span
    | replace: '{TBYPlayer}', 'Alex'
    | replace: '{NakaPlayer}', 'Barry'
    | replace: '{BoatName}', '<em class="ship-name">Grumpy Goat</em>'
    | replace: '{Level}', 'Rank'
%}

{{output}}
